
nav{
	//position: fixed;
	width: 200px;
	//height: 100%;
	background-color: #398439;
        //background:url(../images/bg-nav-selected.png) repeat-x;
        
}

hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

.ulb{
	margin-top:10px;
	list-style: none;
	display: block;
}

.lib{
	width: 100%;
	height:50px;
	border-bottom: 1px solid #323232;
	overflow: hidden;
        
}

p.menu{
	position: relative;
	padding:16px;
	padding-right: 25px;
	float:right;
	color:white;
	opacity: .6;
	font-size: 1.2em;
	-webkit-transition: opacity .2s;
}

div.barra{
	position: absolute;
	height: 50px;
	width: 0px;
	background-color: #aaa;
	opacity: .1;
	-webkit-transition: width .2s;
}

.lib:hover div.barra{
	width:160px;
}

input#buscador{
	width:285px;
	height:50px;
	background-color: #3c3c3c;
	outline: none;
	border: 0px;
	color: white;
	font-size: 1.2em;
	text-align: right;
	padding-right:15px;
	background-image: url(../pictures/search.png);
	background-repeat: no-repeat;
	background-position: 15px 15px;
	-webkit-transition: background-position .2s;
}

input#buscador:focus{
	background-position: 300px 15px;
}


.lib:hover p.menu{
	opacity: 15;
}






















































